@using AppCalories.Domain.EFStuff.Models;
@using AppCalories.Domain.Response;
@model IEnumerable<Product>;
@{
}

@foreach( var product in Model)
{
    <div>
    <div>@product.Name</div>
    <div>@product.Proteins</div>
    <div>@product.Carbohydrates</div>
    <div>@product.Fats</div>
    </div>
}
